version: '3.8'
services:
  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - '6379:6379'

  app:
    build: .
    environment:
      - PORT=3000
      - REDIS_URL=redis://redis:6379
    ports:
      - '3000:3000'
    depends_on:
      - redis
    restart: unless-stopped
